/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-primary: #0282f9;
  --dc-soft-dark: #797979;
  --dc-dark: #464646;
  --dc-darker: #1c1c1c;
  --dc-lighter: #ffffff;
}

/* Utilty */
.container {
  max-width: 80%;
  margin: auto;
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col-2 {
  width: calc((100% / 12) * 2);
  flex-basis: auto;
  padding: 1 rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* Header */
header {
  .container {
    /* padding: 2rem 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 80px;
    }

    nav {
      ul {
        padding: 2rem 0;
        list-style: none;
        display: flex;
        gap: 1rem;



        a {
          padding: 2rem 0;
          color: var(--dc-dark);
          text-decoration: none;
          font-size: 13px;
          font-weight: 700;


          &:hover {
            color: var(--dc-primary);
            border-bottom: 3px solid var(--dc-primary)
          }

        }
      }
    }
  }
}

/* Jumbotron */
.jumbotron {
  background-image: url('../public/img/jumbotron.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

/* Main */
main {
  position: relative;
  background-color: var(--dc-darker);
  color: var(--dc-lighter);
  min-height: 200px;
  padding: 2rem 0;



  .container {
    display: flex;

    .label {
      position: absolute;
      top: -1.5rem;
      background-color: var(--dc-primary);
      padding: 0.5rem 1rem;
    }

    .card {
      img {
        max-width: 100%;
      }
    }
  }

}

/* Banner */
.banner {
  background-color: var(--dc-primary);
  color: var(--dc-lighter);
  font-weight: 600;
  padding: 3rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    figure {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        width: 43px;
        height: 57px;
      }
    }
  }

}

/* Footer */
footer {
  position: relative;
  background-image: url('../public/img/dc-logo-bg.png'), url('../public/img/footer-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: bottom right, center;
  padding: 2rem 0;


  .container {
    display: flex;
    justify-content: space-between;

  }

  .links {
    display: flex;
    gap: 4rem;
    color: var(--dc-lighter);

    h3 {
      padding: 1rem 0;
      font-weight: 800;
    }

    .comics_list {
      margin-bottom: m;
    }

    ul {
      list-style: none;
      line-height: 1.5rem;


      a {
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        color: var(--dc-soft-dark)
      }

    }

  }


  .foot_bar {
    position: fixed;
    width: 100%;
    background-color: var(--dc-dark);
    padding: 2rem;
    max-height: 150px;
    margin-top: 2rem;

    .container {
      min-height: 100%;


      .signUp {
        color: var(--dc-lighter);
        border: 3px solid var(--dc-primary);
        padding: 1rem 1rem;
      }

      .followUs {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: var(--dc-primary);

        h3 {
          text-transform: uppercase;
        }


        ul {
          list-style: none;
          display: flex;
          gap: 1rem;

          a {
            color: var(--dc-soft-dark);
          }
        }
      }
    }
  }
}