/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-primary: #0282f9;
  --dc-soft-dark: #797979;
  --dc-dark: #464646;
  --dc-darker: #1c1c1c;
  --dc-lighter: #ffffff;

}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  .container {
    max-width: 80%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        a {
          color: var(--dc-dark);
          text-decoration: none;
          font-size: 13px;
          font-weight: 700;
          padding: 2rem 0;

          &:hover {
            border-bottom: 2px solid var(--dc-primary);
          }
        }
      }
    }
  }
}